<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="row x_title">
            <div class="col-md-6">
                <h3>History
                    <small> heartbeats collection</small>
                </h3>
            </div>
            <div class="col-md-6">
                <div id="reportrange" class="pull-right"
                     style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                    <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                </div>
            </div>
        </div>

        <div class="x_content">
            <div class="container" style="height:250px">
                <div id="history-graph" style="width: 100%; height:250px;"></div>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>
</div>

<script>
    $(function() {
        var data = [];
        var options = {
            xaxis: {
                mode: 'time',
                axisLabel: 'Time',
                timezone: 'browser'
            },
            yaxis: {
                axisLabel: 'BPM',
            },
            series: {
                lines: {
                    show: true
                }
            },
            grid: {
                hoverable: true
            },
            colors: ["#26B99A"],
        };

        function translateToFlot(item) {
            var time = new Date(item.bpms.date).getTime();
            var bpm = item.bpms.bpm;

            return [time, bpm];
        }

        function updateGraph(startDate, endDate) {
            var url = '/api/bpms/fetch?limit=-1&start=' + startDate.getTime() + '&end=' + endDate.getTime();

            $.get(url, function (res) {
                data = $.map(res.data, function (d) {
                    return [translateToFlot(d)];
                });
                $.plot($("#history-graph"), [data], options);
            });
        }

        $(document).ready(function () {
            updateGraph(new Date(0), new Date());

            var cb = function (start, end, label) {
                console.log(start.toISOString(), end.toISOString(), label);
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            };

            var optionSet1 = {
                startDate: moment().subtract(29, 'days'),
                endDate: moment(),
                minDate: '01/01/2016',
                maxDate: '12/31/2016',
                dateLimit: {
                    days: 60
                },
                showDropdowns: true,
                showWeekNumbers: true,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                opens: 'left',
                buttonClasses: ['btn btn-default'],
                applyClass: 'btn-small btn-primary',
                cancelClass: 'btn-small',
                format: 'MM/DD/YYYY',
                separator: ' to ',
                locale: {
                    applyLabel: 'Submit',
                    cancelLabel: 'Clear',
                    fromLabel: 'From',
                    toLabel: 'To',
                    customRangeLabel: 'Custom',
                    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    firstDay: 1
                }
            };
            $('#reportrange span').html(moment().subtract(29, 'days').format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
            $('#reportrange').daterangepicker(optionSet1, cb);
            $('#reportrange').on('show.daterangepicker', function () {
                console.log("show event fired");
            });
            $('#reportrange').on('hide.daterangepicker', function () {
                console.log("hide event fired");
            });
            $('#reportrange').on('apply.daterangepicker', function (ev, picker) {
                updateGraph(new Date(picker.startDate), new Date(picker.endDate));
            });
            $('#reportrange').on('cancel.daterangepicker', function (ev, picker) {
                console.log("cancel event fired");
            });
            $('#options1').click(function () {
                $('#reportrange').data('daterangepicker').setOptions(optionSet1, cb);
            });
            $('#options2').click(function () {
                $('#reportrange').data('daterangepicker').setOptions(optionSet2, cb);
            });
            $('#destroy').click(function () {
                $('#reportrange').data('daterangepicker').remove();
            });
        });

        $("<div id='tooltip'></div>").css({
            position: "absolute",
            display: "none",
            border: "1px solid #fdd",
            padding: "2px",
            "background-color": "#fee",
            opacity: 0.80
        }).appendTo("body");

        $("#history-graph").bind("plothover", function (event, pos, item) {
            if (item) {
                $("#tooltip").html(item.datapoint[1])
                        .css({top: item.pageY + 5, left: item.pageX + 5})
                        .fadeIn(200);
            } else {
                $("#tooltip").hide();
            }
        });
    })();
</script>
