<!-- top tiles -->
<div class="row tile_count">
    <div class="col-md-3 col-sm-3 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Total Users</span>
        <div id="totalUsers" class="count">-</div>
        <span class="count_bottom">Registered</span>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Average Heartbeat</span>
        <div id="avgHeartbeat" class="count">-</div>
        <span class="count_bottom">From this device</span>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-clock-o"></i> Average Heartbeat</span>
        <div id="avgHeartbeatAll" class="count">-</div>
        <span class="count_bottom">From all users</span>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Total Heartbeats</span>
        <div id="totalHeartbeat" class="count">-</div>
        <span class="count_bottom">From last time</span>
    </div>
</div>
<!-- /top tiles -->

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">

        <div class="row">
            <div ui-view="realtime"></div>
        </div>

        <div class="row">
            <div ui-view="history"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<script>
    $(function () {
        function update() {
            $.get('/api/statistics', function (res) {
                if (res.status !== 'success')
                    return;

                $('#totalUsers').html(res.data.totalUsers);
                $('#avgHeartbeat').html(res.data.avgHeartbeat.toFixed(2));
                $('#avgHeartbeatAll').html(res.data.avgHeartbeatAll.toFixed(2));
                $('#totalHeartbeat').html(res.data.totalHeartbeat);
            });
        }
        setInterval(update, 1000);
        update();
    });
</script>