<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="dashboard_graph x_panel">
            <div class="row x_title">
                <div class="col-md-6">
                    <h3>Realtime
                        <small>live hardbeats</small>
                    </h3>
                </div>
            </div>
            <div class="x_content">
                <div class="container" style="height:250px">
                    <div id="realtime-graph" style="width: 100%; height:250px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../bower_components/Flot/jquery.flot.js"></script>
<script src="../bower_components/Flot/jquery.flot.time.js"></script>
<script src="../bower_components/Flot/jquery.flot.resize.js"></script>
<script src="../js/jquery.flot.axislabels.js"></script>

<script>
    $(function () {
        var socket = io();

        var data = [];
        var len = 60;
        var options = {
            xaxis: {
                mode: 'time',
                axisLabel: 'Time',
                timeformat: '%S'
            },
            yaxis: {
                axisLabel: 'BPM',
            },
            colors: ["#26B99A"]
        };

        function translateToFlot(item) {
            var time = new Date(item.date).getTime();
            var bpm = item.bpm;
            return [time, bpm];
        }

        $(document).ready(function() {
            $.get('/api/user/find', {id: 1}, function(res) {
                console.log(res.data.bpms.length);
                data = $.map(res.data.bpms, function(d) { return [translateToFlot(d)];});
                $.plot($("#realtime-graph"), [data], options);

                socket.on('update', function (bpm) {
                    if (data.length > 10)
                        data.shift();

                    data.push(translateToFlot(bpm));
                    $.plot($("#realtime-graph"), [data], options);
                });
            });
        });
    });
</script>