<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="row x_title">
            <div class="col-md-6">
                <h3>Realtime
                    <small> live heartbeats</small>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-xs-12" style="height:250px">
                <div id="realtime-graph" style="width: 100%; height:250px;"></div>
            </div>
            <div class="col-md-2 col-xs-12">
                <div class="x_panel ui-ribbon-container" style="height:250px">
                    <div class="x_title">
                        <h2>BPM</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div style="height:100%">

                        <div style="text-align: center; margin-bottom: 17px">
                              <span id="bpm" style="font-size: 6em">
                                  -
                              </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        var graph = $('#realtime-graph');

        var options = {
            xaxis: {
                min: 0,
                max: 100,
                ticks: 10,
                tickFormatter: function (val, axis) {
                    return "";
                }
            },
            yaxis: {
                ticks: 5,
                tickFormatter: function (val, axis) {
                    return "";
                }
            },
            colors: ["#26B99A"]
        };
        var plot = $.plot(graph, [], options);


        var beats = 18;

        function updateOptions(width) {
            if (width < 600) {
                options.xaxis.max = 50;
            } else if (width < 1100) {
                options.xaxis.max = 100;
            } else {
                options.xaxis.max = 200;
            }

            options.xaxis.ticks = options.xaxis.max / 10;
            plot = $.plot(graph, [], options);
        }

        updateOptions(graph.width());
        graph.resize(function () {

            updateOptions($(this).width());
        });

        var bpm = 0;

        function showHeartbeats(num, spacing, offset) {
            var beat = [[0, 5], [1, 7], [2, 5], [4, 5], [5, 4], [8, 16], [9.5, 1], [13, 5]];
            var last = beat[beat.length - 1][0];

            var data = [];

            for (var i = 0; i < num; ++i) {
                var current = $.map(beat, function (x) {
                    var displacement = i * (spacing + last) + offset;

                    return [[x[0] + displacement, x[1]]];
                });

                data = data.concat(current);
            }

            plot.setData([data]);
            plot.draw();
            plot.setupGrid();
        }

        var displacement = 0;
        var delay = 30;

        setInterval(function () {
            if (bpm === 0) {
                if (delay !== 500) {
                    var data = [[0, 5], [options.xaxis.max, 5]];

                    plot.setData([data]);
                    plot.setupGrid();
                    plot.draw();
                }

                delay = 500;
            } else {
                delay = 30;

                var spacing = 1 / (bpm / 60) * 1000 / delay - 13;

                showHeartbeats(beats, spacing, --displacement);

                if (displacement < -(spacing + 13))
                    displacement = 0;
            }
        }, delay);

        function setBpm(val) {
            if (!val || val === 0) {
                $('#bpm').html('-');
                bpm = 0;
            } else {
                bpm = val;
                $('#bpm').html(bpm);

                outdated = 0;
            }
        }

        $.get('/api/bpm/fetch?id=1&limit=1', function (res) {
            if (res.data && res.data.length !== 0) {
                var elapsed = new Date() - new Date(res.data[0].date);
                if (elapsed < 3000) {
                    setBpm(res.data[0].bpm);
                    return;
                }
            }

            setBpm(0);
        });

        var outdated = 0;
        setInterval(function() {
            ++outdated;

            if (outdated < 3)
                return;

            setBpm(0);
        }, 1000);

        socket.on('liveUpdate', function (res) {
            setBpm(res.bpm);
        });
    });
</script>